<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kim.ipc">
    <application>
        <service android:name="com.kim.ipc.IpcService">
                <intent-filter>
                    <action android:name="com.kim.ipc"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
        </service>
    </application>

</manifest>